body {
    background-color: #fbf9fe;
}

.vux-modal-open {
    height: 100%;
}

.s-btn {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42;
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    padding: 6px 12px;
    cursor: pointer;
    transition: all;
    transition-timing-function: linear;
    transition-duration: .2s;
    text-align: center;
    vertical-align: top;
    white-space: nowrap;
    border-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    background-clip: padding-box;
}

.s-btn-primary {
    color: #fff;
    border: 1px solid @s-primary-color;
    background-color: @s-primary-color;
}

.s-btn-primary.s-btn-outline {
    color: @s-primary-color;
    background-color: transparent;
}

.s-btn-danger {
    color: #fff;
    border: 1px solid @s-danger-color;
    background-color: @s-danger-color;
}
.s-btn-danger.s-btn-outline {
    color: @s-danger-color;
    background-color: transparent;
}
.fa-primary{
    color:@s-primary-color;
}
//-----------------flex布局兼容开始
.display-flex(@display: flex) {
    & when (@display =flex) {
        display: -webkit-box;
    }
    & when (@display =inline-flex) {
        display: -webkit-inline-box;
    }
    display: e("-webkit-@{display}");
    display: @display;
}

.flex-direction(@direction) {
    & when (@direction =row) {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
    }
    & when (@direction =row-reverse) {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
    }
    & when (@direction =column) {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
    }
    & when (@direction =column-reverse) {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
    }
    -webkit-flex-direction: @direction;
    flex-direction: @direction;
}

.flex-wrap(@wrap) {
    & when (@wrap =nowrap) {
        -webkit-box-lines: single;
    }
    & when (@wrap =wrap) {
        -webkit-box-lines: multiple;
    }
    -webkit-flex-wrap: @wrap;
    flex-wrap: @wrap;
}

.justify-content(@justify-content) {
    & when (@justify-content =flex-start) {
        -webkit-box-pack: start;
    }
    & when (@justify-content =flex-end) {
        -webkit-box-pack: end;
    }
    & when (@justify-content =center) {
        -webkit-box-pack: center;
    }
    & when (@justify-content =space-between) {
        -webkit-box-pack: justify;
    }
    -webkit-justify-content: @justify-content;
    justify-content: @justify-content;
}

.align-items(@align-items) {
    & when (@align-items =flex-start) {
        -webkit-box-pack: start;
    }
    & when (@align-items =flex-end) {
        -webkit-box-pack: end;
    }
    & when (@align-items =center) {
        -webkit-box-pack: center;
    }
    & when (@align-items =baseline) {
        -webkit-box-pack: baseline;
    }
    & when (@align-items =stretch) {
        -webkit-box-pack: stretch;
    }
    -webkit-align-items: @align-items;
    align-items: @align-items;
}

.order(@order) {
    -webkit-box-ordinal-group: @order;
    -webkit-order: @order;
    order: @order;
}

.flex(@flex) {
    -webkit-box-flex: @flex;
    -webkit-flex: @flex;
    flex: @flex;
}
//-----------------flex布局结束