body {
    background-color: #fbf9fe;
}

.vux-modal-open {
    height: 100%;
}

.s-btn {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42;
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    padding: 6px 12px;
    cursor: pointer;
    transition: all;
    transition-timing-function: linear;
    transition-duration: .2s;
    text-align: center;
    vertical-align: top;
    white-space: nowrap;
    border-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    background-clip: padding-box;
}

.s-btn-primary {
    color: #fff;
    border: 1px solid @s-primary-color;
    background-color: @s-primary-color;
}

.s-btn-primary.s-btn-outline {
    color: @s-primary-color;
    background-color: transparent;
}

.s-btn-danger {
    color: #fff;
    border: 1px solid @s-danger-color;
    background-color: @s-danger-color;
}
.s-btn-danger.s-btn-outline {
    color: @s-danger-color;
    background-color: transparent;
}
.fa-primary{
    color:@s-primary-color;
}
